.color-dark .section-heading h2 {
	color: #ff0000;
}

.hero { background: url(../img/kesenian-rakyat.png) no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; padding: 90px 0 90px 0; height: auto; }


.learn-more-btn { background: rgba(96, 96, 96, 1); padding: 20px 40px; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; color: #fff; text-transform: uppercase; letter-spacing: 1px; display: inline-block; -webkit-box-shadow: 0px 3px 0px 0px #606060; -moz-box-shadow: 0px 3px 0px 0px #606060; box-shadow: 0px 3px 0px 0px #606060; margin: 60px 0 0; font-weight: bold; }
.learn-more-btn:hover, .learn-more-btn:focus { background: rgba(255, 0, 0, 0.6); color: #fff; }

#facebook-icon {color: #3B5998}
#instagram-icon {color: #cd486b}
